.ceo-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
}
.ceo-section-img img {
    width: 100%;
    height: 100%;
}
.ceo-section-text {
    background-color: var(--yellow-color);
    padding: 5rem 10rem;
}
.quote {
    font-size: 4rem;
    font-family: 'Merriweather', serif;
}
.clients-list {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: text-decoration .3s;
}
.clients-list:hover {
    text-decoration: underline;
}

@media(max-width: 1202px){
    .ceo-section-text {
        background-color: var(--yellow-color);
        padding: 5rem 5rem;
    }
    .quote {
        font-size: 3rem;
    }
}

@media(max-width:894px){
    .ceo-section-container {
        grid-template-columns: 1fr;
        margin-top: 6rem;
    }
    .ceo-section-text {
        background-color: var(--yellow-color);
        padding: 5rem 2rem;
    }
    .quote {
        font-size: 2.6rem;
    }
}